@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter Foo="bar"/>

<SurveyPrompt Title="How is Blazor working for you?">
    <Body>
        <button @onclick="() => { }" class="border-0">
            Test
        </button>
    </Body>
</SurveyPrompt>